body {
    background-color: aqua;
}
div{
    background: white;
    width: 300px;
    text-align: center;
    padding: 5px;
}
table, th, td {
    border: solid 1px rgb(255, 0, 0); 
    background-color: rgb(182, 182, 182);
}