body {
    background-color: aqua;
}
div{
    background: white;
    width: 300px;
    text-align: center;
    padding: 5px;
}
table, th, td {
    border: solid 1px gray; 
    background-color: blue;
    column-rule-color: crimson;
}
ul, li{


}
