body{
    background-color: white;
}
.news{
    width: 50%;
    height: 50%;
    /*text-align: center;
    margin: auto auto;*/
}
.logo_img{
    width: 170px;
    height: auto;
    border: 2px solid gray;
}